.girl-phone-image {
    background: url('/static/girl_phone_background.png');
    background-size: cover; /* will stretch the image to your div size while maintaining aspect ratio */
}
.padding-bottom{
    padding-bottom: 200px;
}
.padding-top{
    padding-top: 50px;
}
header {
    height: 80px;
    background-color: ghostwhite;
}
.front{
    z-index: 1100;
}
.navbar.navbar-inverse {
  background: transparent;
  position: absolute;
  width: 40%;
  z-index: 1080;
}
.dropdown-menu{
    max-width: 40px;
    padding-left: 5px;
    border-style: solid;
    border-color: darkslategrey;
}
.margin-right{
    margin-right: 10px;
}
.margin-left{
    margin-left: 10px;
}
.justify-content-right{
    justify-content: right;
}
.align-right{
    text-align: right;
    list-style: none;
}
.buttons {
    background-color: coral;
    border-color: white;
    color: white;
    font-weight: bold;
}
.jumbotron-main{
    background-image: url( '/static/origami.png' );
    /*link: url('/activities/');*/
    background-size: cover;
    background-position: center;
}
.jumbotron-secondary{
    background-image: url('/static/mother_kid_book.png');
    background-size: cover;
    background-position: bottom;
}
.jumbotron-tertiary{
    background-image: url('/static/kid_quiz.png');
    background-size: cover;
    background-position: center;
}
.nih{
    background-image: url('/static/NIH-Emblem.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(128, 128, 128);
}
.fairplay{
    background-image: url('/static/fairplay_emblem.png');
    background-size: cover;
    background-position: left;
    background-color: rgb(128, 128, 128);
}
.healthychildren{
    background-image: url('/static/healthychildren_emblem.png');
    background-size: cover;
    background-position: left;
    background-color: rgb(128, 128, 128);
}
.hero {
    padding-bottom: 20%; /* = ( 600 / 1600 ) x 100 */
    background-image: url( '/static/teal_gray_gradient.png' );
    /*background-size: cover;*/
    width: 100%;
    height: auto;
    background-repeat: repeat-x;
}
.dev-banner{
    background-color: red;
}
.text-large{
    font-size: 140%;
    text-justify: inter-word;  /*doesn't work*/
}
.text-blend{
    color: white;
    mix-blend-mode: difference;
}
.text-larger{
/*    color: white;*/
/*mix-blend-mode: difference;*/
    font-size: 160%;
    text-justify: inter-word;
}
.text-xl{
    font-size: 350%;
    text-justify: inter-word;  /*doesn't work*/
}
.text-small{
    font-size: 80%;
}
.text-dark{
    color: darkslategrey;
    font-family: Calibri,  sans-serif;
}
.text-light{
    color: ghostwhite;
    font-family: Calibri, sans-serif;
    text-decoration: none;
}
.text-light-green{
    color: mediumseagreen;
}
.text-green{
    color: green;
}
.chocolate{
    color: chocolate;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.white-shadow{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.text-danger{
    color: crimson;
}
.text-warning{
    color: gold;
}
.text-shadow{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
.stroke{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.text-bg{
    background: rgba(0, 0, 0, 0.05); /* dark overlay */
}
.text-faint{
    color: darkslategray;
    font-size: 80%;
}
.kerning-l{
    font-kerning: none;
}

.page-header h1 {
    margin-top: 0px;
}
.page-header {
    height: 60px;
    margin-top: 0px;
    background-size: cover;
    background-image: url('/static/title_bar.png');
}
.white-space {
    white-space: pre;
}

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 400px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1500px;
    }
}
.container-small, .container-large {
    max-width: 100%;
}
