{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    {% if not_found %}
        <br>
        <div class="container container-small text-warning text-large text-dark white-shadow">
            No account was found with your entered email address / username.
            <br>Please confirm your information and try again.
            <br>If the issue still persists, contact support@gobeyondthescreen.org for help.
        </div>
    {% elif sent_recovery %}
        <div class="container container-small text-large text-dark white-shadow">
            A password recovery email has been sent to the email address associated with the account.
            <br>If you do not receive it, contact support@gobeyondthescreen.org for help.
        </div>
    {% else %}
        <br>
        <div class="text-center text-dark white-shadow text-decoration-none fw-bold">
            <p class="text-large">If you've forgotten your password, don't worry, it happens to us all.
                <br>Enter your email address or username below and we'll send you a link to reset it.
                <br>If you've forgotten your email address, well...
                <br><br>
            </p>
        </div>
    {% endif %}

    {% if not sent_recovery %}
        <div class="container container-small">
            <form id='login form' method="post" action="{% url 'forgot_pw_submit' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email_username" class="text-large fw-bold text-dark white-shadow">
                        Email Address or Username</label>
                    <input type="text" class="form-control" id="email_username" name="email_username"
                           aria-describedby="emailHelp" placeholder="Enter Email / Username">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %}