{% extends 'base.html' %}
{% block title %}Beyond the Screen{% endblock %}
{% block content %}
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
                <p class="chocolate text-larger text-decoration-none fw-bold font ">
                    Welcome, {{ username }}!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <p class="text-dark text-large font fw-bold">
                    Here you can discover a variety of engaging resources to help your child develop healthy social skills.
                </p>
            </div>
        </div>
    </div>

    <!--jumbo trons-->
    <div class="container-fluid py-4 text-light text-large">
        <div class="row align-items-md-stretch p-2 mb-4 bg-body-tertiary">
            <div class="col-3"></div>
            <div class="col-6">
                <a href="/activities/" class="text-decoration-none white-shadow text-dark">
                    <div class="container-fluid py-5 rounded-3 jumbotron-main">
                        <h1 class="display-5 fw-bold">Activities</h1>
                        <p class="col-md-6 fs-4 fw-bold">It can be difficult to keep a child entertained without electronics.
                            Visit this page for activities and fun ideas for you and your child.</p>
                        <button class="btn buttons btn-lg btn-outline-light" type="button">Find Activites</button>

                    </div>
                </a>
            </div>
        </div>

        <div class="row align-items-md-stretch p-2 mb-4 bg-body-tertiary text-shadow stroke">
            <div class="col-3"></div>
            <div class="col-6">
                <a href="/learnmore/" class="text-decoration-none text-shadow text-white">
                    <div class="container-fluid py-5 rounded-3 jumbotron-secondary">

                        <h1 class="display-5 fw-bold">Learn more</h1>
                        <p class="col-md-8 fs-4 fw-bold">Problems arising from overuse of screens are still being discovered. Visit this page
                            to see some of the findings, and what you can do about them.</p>
                        <button class="btn buttons btn-lg btn-outline-light"  type="button">Learn More</button>
                    </div>
                </a>
            </div>

        </div>

        <div class="row align-items-md-stretch p-2 mb-4 bg-body-tertiary text-shadow stroke">
                        <div class="col-3"></div>
            <div class="col-6">
                <a href="#" class="text-decoration-none text-shadow text-white">
            <div class="container-fluid py-5 rounded-3 jumbotron-tertiary">
                <h1 class="display-5 fw-bold">Interactive Quiz</h1>
                <p class="col-md-8 fs-4 fw-bold">Extended screentime may be hampering your child's development
                    in more ways than you know. Complete this interactive quiz to learn more.</p>
                    <button class="btn buttons btn-lg btn-outline-light"  type="button">Take the Quiz</button>
            </div>
        </div>
    </div>
{% endblock %}