{% extends 'base.html' %}
{% block title %}Beyond the Screen{% endblock %}
{% block content %}
    <p class=" text-center">
        <a class="text-light text-shadow text-larger text-decoration-none">
            <br>Welcome, {{ username }}!
            <br>Here you can find many fun resources to help grow your child's social development healthily.
        </a>
    </p>

    <!--jumbo trons-->

    <div class="container py-4 text-light text-large stroke text-shadow">
    <a href="/activities/" class="text-decoration-none text-light text-shadow">
        <div class="row align-items-md-stretch p-2 mb-4 bg-body-tertiary">
            <div href="" class="container-fluid py-5 rounded-3 jumbotron-main">
                <h1 class="display-5 fw-bold">Activities</h1>
                <p class="col-md-8 fs-4">It can be difficult to keep a child entertained without electronics.
                    Visit this page for activities and fun ideas for you and your child.</p>
                <a href="/activities/">
                    <button class="btn btn-primary btn-lg btn-outline-light" type="button">Find Activites</button>
                </a>
            </div>
        </div>
</a>
        <div class="row align-items-md-stretch p-2 mb-4 bg-body-tertiary">
            <div class="container-fluid py-5 rounded-3 jumbotron-secondary">
                <h1 class="display-5 fw-bold">Swap Advice</h1>
                <p>We can put you in touch with other parents who care as deeply as you. Share
                    what you've found that helps your child.</p>
                <a href="#">
                    <button class="btn btn-primary btn-outline-light" type="button">Share advice</button>
                </a>
            </div>
        </div>
        <div class="row align-items-md-stretch p-2 mb-4 bg-body-tertiary">
            <div class="container-fluid py-5 rounded-3 jumbotron-tertiary">
                <h1 class="display-5 fw-bold">Learn more</h1>
                <p>Extended screentime may be hampering your child's development
                    in more ways than you know. Complete this interactive quiz to learn more.</p>
                <a href="#">
                    <button class="btn btn-primary btn-outline-light" type="button">Take the Quiz</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}