<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
{% block content %}
    <div class="container col-xxl-12 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ STATIC_URL }}static/girl_phone_cutout.png" class="d-block mx-lg-auto img-fluid"
                     alt="" width="1730" height="931" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="text-white text-xl fw-bold lh-1 mb-3">Beyond<br> the Screen</h1>
                <p class="text-large text-white">This is where a brief explanation of the issue, followed by the mission
                    statement will go.
                    <br><br>It should be brief but hook viewers into signing up.</p>
                <div class = "row">
                    <div class = "col-md-4">
                            <a href="#login_box" class="btn btn-primary btn-lg" style="margin-top: 5px">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="login_box"  class="text-light text-large text-center" style="margin: 350px 20px 50px;">
    Log in or Register to discover ways to help your child beat screen addiction<br>
    </div>
    <div class="parent container d-flex justify-content-center align-items-center">
    <form>
        <div class="form-group">
            <label for="inputEmail" class="text-light">Email address</label>
            <label for="inputEmail"></label><input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-small text-faint">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="text-light">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" formaction="{% url 'log_in' 'a' 'd' %}" formmethod="post"
                class="btn btn-primary" style="margin-top: 10px">Log in{% csrf_token %}</button>
        <button type="submit" class="btn btn-secondary" style="margin-top: 10px">Register</button>
    </form>
    </div>
{% endblock%}
</html>