<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Learn More - Beyond the Screen{% endblock %}
{% block content%}
<br>

<!--Update this to a database lookup with a link to a background image or side icon?-->

<div class="container-fluid">
    <div class="row learn-more-jumbo" style="margin-bottom: 50px; padding-top:20px; padding-bottom:20px;">
        <div class="col-1"></div>
        <div class="col-5 jumbotron text-dark" style="margin:0 0 30px; font-family: Helvetica, sans-serif">
            <h1 class="display-4 fw-bold" style="margin-left: 8px">Screen Time Reduction in Children: A Review</h1>
            <p class="lead fw-bold" style="margin-left: 8px">Published on the National Library of Medicine, these researchers summarize that simply trying to
                limit screentime in your children is not enough to solve the problem. You need to adopt ongoing combinations
                of interventions, like finding substitutes for phone and TV use.</p>
            <!-- open in new tab-->
            <a class="btn buttons btn-lg" style="margin-bottom: 10px; margin-left: 8px"
               onclick=" window.open('https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10140095/','_blank')"
               role="button">Learn more</a>
        </div>
        <div class="col-4 nih"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row learn-more-jumbo" style="margin-bottom: 50px; padding-top:20px; padding-bottom:20px;">
        <div class="col-1"></div>
        <div class="col-5 jumbotron" style="margin:0 0 30px; font-family: Helvetica, sans-serif">
            <h1 class="display-4 fw-bold chocolate" style="margin-left: 8px">Screen Aware Action Kit</h1>
            <p class="lead fw-bold chocolate" style="margin-left: 8px">Fairplay is a site dedicated to helping parents meet the developmental
                needs of their children. Visit this page to find an Action Kit to help.</p>
            <a class="btn btn-yellow text-shadow btn-lg" style="margin-bottom: 10px; margin-left: 8px" href="#"
               onclick=" window.open('https://fairplayforkids.org/pf/eckit/','_blank')"
               role="button">Learn more</a>
        </div>
        <div class="col-4 fairplay"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row learn-more-jumbo" style="margin-bottom: 50px; padding-top:20px; padding-bottom:20px;">
        <div class="col-1"></div>
        <div class="col-5 jumbotron" style="margin:0 0 30px; font-family: Helvetica, sans-serif">
            <h1 class="display-4 fw-bold" style="margin-left: 8px">How Media Use Can Affect Your Child</h1>
            <p class="lead fw-bold" style="margin-left: 8px">healthychildren.org discusses the myriad of negative effects extended media
                use can have on your child - including behavioral problems, cyberbullying, and even obesity</p>
            <a class="btn buttons btn-lg" style="margin-bottom: 10px; margin-left: 8px"
               onclick=" window.open('https://www.healthychildren.org/English/family-life/Media/Pages/adverse-effects-of-television-commercials.aspx','_blank')"
               role="button">Learn more</a>
        </div>
        <div class="col-4 healthychildren"></div>
    </div>
</div>
{% endblock %}