<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn More</title>
</head>
<body>
{% block content%}
    <br>
<div class="jumbotron text-shadow text-light" style="background:darkslategray">
  <h1 class="display-4">Reading Source 1</h1>
    <p class="lead">This is the first article explaining more about the issue</p>
    <a class="btn buttons btn-lg" href="#" role="button">Learn more</a>
</div>
    <div class="jumbotron text-shadow text-light" style="background:darkslategray">
  <h1 class="display-4">Reading Source 2</h1>
    <p class="lead">Here is another article</p>
    <a class="btn buttons btn-lg" href="#" role="button">Learn more</a>
</div>
        <div class="jumbotron text-shadow text-light" style="background:darkslategray">
  <h1 class="display-4">Reading Source 3</h1>
    <p class="lead">A 3rd article explaining the issue and its results</p>
    <a class="btn buttons btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}
</body>
</html>