{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beyond the Screen</title>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <!--  {% bootstrap_javascript %}-->
    {# Custom style sheets #}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-1 mb-1 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-large
    text-dark text-decoration-none">
        <img src="{{ MEDIA_URL }}/media/test_logo.png" alt="" class="d-block mx-lg-auto img-fluid" width="80">
        Beyond the Screen
    </a>
        <nav class="navbar navbar-expand-sm navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="donate">Donate</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
<div class="hero">
    {% block content %}
    {% endblock %}
</div>
<br><br>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <footer class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="donate">Donate</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </footer>
</div>
</body>
</html>